{{ include('AppBundle:common:partial.header.html.twig', {title: '@HomelessJane'}) }}

<h1>@HomelessJoan</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Add your service</h4>
    </div>
    <div class="panel-body">
        <p>To add your service </p>
    </div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">@homelessjoan Services Directory</h4>
    </div>
    <div class="panel-body">
        {# loop through the mentions and display #}
        <ul>
        {% for service in mentions %}
            <li>{{ service.text }}</li>
        {% endfor %}
        </ul>
    </div>
</div>

<p></p>

{{ include('AppBundle:common:partial.footer.html.twig') }}


