{{ include('AppBundle:common:partial.header.html.twig', {title: '@HomelessJane'}) }}

<h1>@HomelessJoan</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">@homelessjoan Services Directory</h4>
    </div>
    <div class="panel-body">
        {# loop through the mentions and display #}
        <ul>
        {% for service in mentions %}
            <li>{{ service.text }}</li>
        {% endfor %}
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Add your service</h4>
    </div>
    <div class="panel-body">
        <p>To add your service by tweeting the service descript to @HomelessJoan, e.g. @HelpingOnTheStreets tweets:</p>
        <p><em>@HomelessJoan runs a food service on the streets of Leeds every weekday</em></p>
        <p>which gets listed in the directory as:</p>
        <p><em>@HelpingOnTheStreets runs a food service on the streets of Leeds every weekday</em></p>
    </div>
</div>

{{ include('AppBundle:common:partial.footer.html.twig') }}


