{{ include('AppBundle:common:partial.header.html.twig') }}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">@homelessjane Services Directory</h4>
    </div>
    <div class="panel-body">
        {# loop through the mentions and display #}
        <ul>
        {% for service in mentions %}
            <li>{{ service.text }}</li>
        {% endfor %}
        </ul>
    </div>
</div>

{{ include('AppBundle:common:partial.footer.html.twig') }}


